body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.logo .tagline {
    margin: 0;
    font-size: 0.9rem;
    color: #006400; /* Dark green color */
    font-weight: 300;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

nav ul li a:hover {
    color: #006400; /* Dark green color */
}

main {
    padding: 2rem;
}

#fullpage {
    padding-top: 80px; /* Adjust this value based on your header height */
}

.section {
    text-align: center;
}

/* Style for active navigation item */
nav ul li.active a {
    font-weight: bold;
    color: #006400; /* Dark green color to match the hover state */
}

.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }

    .hamburger-menu {
        display: block;
    }

    nav {
        width: 100%;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 1rem 0;
    }
}
